input:focus {
  outline: none;
  border-color: #2563eb; /* Tailwind blue-600 */
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.4);
}
.dark {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    color: rgb(243 244 246 / var(--tw-text-opacity));
}

.star {
    cursor: pointer;
    font-size: 1.2rem;
    margin-right: 2px;
}

.rating-stars {
    display: inline-flex;
}